<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

    <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-11">
            <h1 class="text-center">Tournament List</h1>
            <br>
            <a href="game-match/add" class="btn btn-primary" role="button">
            <i class="fas fa-plus-circle"></i> Create Tournaments</a>
            <br>
            <table class="table table-bordered table-striped table-hover" id="matchTable" >
                <!-- Header Row-->
                <tr class="d-flex">
                    <th class="text-center col-2 align-middle">Team Name</th>
                    <th class="text-center col-4 align-middle">Description</th>
                    <th class="text-center col-2 align-middle">Owner</th>
                    <th class="text-center col-1 align-middle">Active</th>
                    <th class="text-center col-2 align-middle">Date (If no)</th>
                    <!-- hide the two buttons if not login -->
                    <% if(typeof displayname=='string' && displayname) {%>
                        <th class="text-center col-1 align-middle">Edit Buttons</th>
                        <th class="text-center col-1 align-middle">Delete Buttons</th>
                    <% } %>
                </tr>

                <!-- Repeatable Template Row -->
                <% for(let count = 0; count < MatchList.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-2 align-middle"><%= MatchList[count].name %></td>
                        <td class="text-center col-4 align-middle"><%= MatchList[count].description %></td>
                        <td class="text-center col-2 align-middle"><%= MatchList[count].owner %></td>
                        <td class="text-center col-1 align-middle"><%= MatchList[count].active %></td>
                        <td class="text-center col-2 align-middle"><%= MatchList[count].date %></td>
                        <!-- hide the two buttons if not login -->
                        <% if(typeof displayname=='string' && displayname) {%>
                            <td class="text-center col-1 align-middle">
                                <a href="/game-match/edit/<%= MatchList[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i>Edit</a>
                            </td>
                            <td class="text-center col-1 align-middle">
                                <a href="/game-match/delete/<%= MatchList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i>Delete</a>
                            </td>
                        <% } %>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>