<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

    <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-11">
            <h1 class="text-center">Tournament List</h1>
            <br>
            <a href="game-match/add" class="btn btn-primary" role="button">
            <i class="fas fa-plus-circle"></i> Create Tournaments</a>
            <br>
            <table class="table table-bordered table-striped table-hover" id="matchTable" >
                <!-- Header Row-->
                <tr class="d-flex">
                    <th class="text-center col-2">Team Name</th>
                     <th class="col-4">Description</th>
                    <th class="text-center col-2">Owner</th>
                    <th class="text-center col-1">Active</th>
                    <th class="text-center col-2">Date (If No)</th>
                    <!-- hide the two buttons if not login -->
                    <% if(typeof displayname=='string' && displayname) {%>
                        <th class="text-center col-1">Edit Buttons</th>
                        <th class="text-center col-1">Delete Buttons</th>
                    <% } %>
                </tr>

                <!-- Repeatable Template Row -->
                <% for(let count = 0; count < MatchList.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-2"><%= MatchList[count].name %></td>
                        <td class="col-4"><%= MatchList[count].description %></td>
                        <td class="text-center col-2"><%= MatchList[count].owner %></td>
                        <td class="text-center col-1"><%= MatchList[count].Active %></td>
                        <td class="text-center col-2"><%= MatchList[count].Date %></td>
                        <!-- hide the two buttons if not login -->
                        <% if(typeof displayname=='string' && displayname) {%>
                            <td class="text-center col-1">
                                <a href="/game-match/edit<%= MatchList[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                            </td>
                            <td class="text-center col-1">
                                <a href="/game-match/delete<%= MatchList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                        <% } %>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>